/* Scrollbar */

::-webkit-scrollbar-thumb {
	background-color: rgb(92,89,86) !important;
	border-left: 2px solid transparent !important;
	border-right: 2px solid transparent !important;
	border-top: 0px !important;
	border-bottom: 0px !important;
	background-image: url("images/webkit_scrollbar_thumb.png") !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	border-radius: 3.5px !important;
	min-height: 21px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgb(105,102,99) !important;
	border-left: 2px solid transparent !important;
	border-right: 2px solid transparent !important;
	border-top: 0px !important;
	border-bottom: 0px !important;
	background-image: url("images/webkit_scrollbar_thumb.png") !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	border-radius: 3.5px !important;
}

::-webkit-scrollbar {
	width: 17px !important;
}

::-webkit-scrollbar-track {
	display: block !important;
	background-image: linear-gradient(to bottom, rgb(77,75,72) 0px, transparent 200px) !important;
	background-repeat: no-repeat;
	border-left: 2px solid transparent;
	border-radius: 3.5px !important;
	border-right: 2px solid transparent;
}

::-webkit-scrollbar-button:single-button {
	display: block !important;
	height: 24px !important;
	width: 17px !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	border-radius: 3.5px !important;
	background-clip: content-box;
	border: 2px solid transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
	background-image: url("images/webkit_scrollbar_up.png");
	background-color: rgb(92,89,86);
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
	background-image: url("images/webkit_scrollbar_up_hover.png");
	background-color: rgb(105,102,99);
}

::-webkit-scrollbar-button:single-button:vertical:increment {
	background-image: url("images/webkit_scrollbar_down.png");
	background-color: rgb(92,89,86);
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
	background-image: url("images/webkit_scrollbar_down_hover.png");
	background-color: rgb(105,102,99);
}